{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Contact index (Add contacts first)</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone_no</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.phoneNo }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">show</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                    <a href="{{ path('contact_delete', {'id': contact.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br />
    <hr />
    <a href="{{ path('contact_new') }}">Create new (with options to upload from spreadsheet)</a><br /><br />
    <a href="{{ path('export', {'file_name': 'all_contacts'})}}">Export to xlsx (with link to download exported file)</a>
{% endblock %}